body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/logo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    width: 500px;
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
}

.container img {
    display: block;
    margin: 0 auto 20px auto;
    width: 100%;
    height: auto;
}

h2 {
    margin-top: 0;
    text-align: center;
    padding-left: 20px;
    font-size: 24px;
    color: #4c2264;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 60%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    display: inline-block;
    background-color: #4c2264;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    margin: 10px 20px;
    font-size: 16px;
}

button:hover {
    background-color: #7a288a;
}

a {
    color: #4c2264;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    width: 60%;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4c2264;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #7a288a;
}
