<div class="container">
    <h1>Twój koszyk</h1>

    <div *ngIf="loading">Ładowanie...</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <div class="cart-item" *ngFor="let item of cart">
        <div class="item-info">
            <h4>{{ item.nazwa_pozycji }}</h4>
            <p>{{ item.cena }} PLN</p>
            <div class="quantity-control">
                <button (click)="decrease(item)">-</button>
                <span>{{ item.ilosc }}</span>
                <button (click)="increase(item)">+</button>
            </div>
            <button (click)="remove(item)">Usuń</button>
        </div>
    </div>

    <div class="total">
        Łączna cena: {{ totalPrice }} PLN
    </div>

    <button (click)="finalizeOrder()">Złóż zamówienie</button>


    <button id="checkout-button"
            (click)="finalizeOrder()"
            [disabled]="!cart.length">
        Złóż zamówienie
    </button>
</div>
