<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Użytkownika</title>
    <link rel="stylesheet" type="text/css" href="/css/user-edit.css">
</head>
<body>
<div class="container">
    <img src="/css/logo.png">
    <h2>Profil Użytkownika</h2>
    <div class="form-group">
        <p><strong>Email:</strong> <span th:text="${user.Email}"></span></p>
    </div>
    <div class="form-group">
        <p><strong>Telefon:</strong> <span th:text="${user.Telefon}"></span></p>
    </div>
    <div class="form-group">
        <a th:href="@{/user/edit}" class="btn btn-primary">Edytuj</a>
    </div>
</div>
</body>
</html>
